// Specific CSS for your home-page

.cream-background{
  background-color: $cream;
  margin: 0px 0px 50px 0px;
}

.red-p{
  color: $dark-red;
  margin: 0px 0px 20px 0px;
}

#red-p-h2{
  font-size: 10vw;
  margin: 0px 0px 20px 0px;
}

.description{
  display: flex;
  align-items: center;
  margin: 0px 0px 25px 0px;

  .sushi{
    height: 60px;
    rotate: -9deg;
  }

  p{
    margin: 0px 33px 0px 17px;
  }
}

.flex{
  display: flex;
  align-items: center;
  justify-content: center;

  h2{
    margin: 20px 15px 20px 0px;
    font-weight: 100;
    font-size: 34px;
    color: $grey;
  }

  p{
    margin: 0px 0px 0px 0px;
  }

  .avatar{
    margin: 20px 15px 20px 15px;
  }

  #cream-para{
    width: 66%;
  }
}

hr{
  margin: 0px;
}

.light-weight{
font-weight: 100;
}

.flex-start{
  display: flex;
}

.red-side{
  display: none;
  background-color: $dark-red;
}

.red-background img{
  visibility: hidden;
  width: 0px;
  height: 0px;
}

.cream-background-desktop{
    visibility: hidden;
    height: 0px;
}

@media only screen and (min-width: 768px) {

  .flex-desktop{
    display: flex;
  }
  .red-background{
    background-color: $dark-red;
    width: 30vw;

    img{
      visibility: visible;
      width: 108%;
      height: auto;
    }
  }

  .top-homepage{
    width: 70vw;
  }

  .container{
    padding: 0px 6vw;
    padding-top: 70px;
  }
  .container h1{
    font-size: 6vw;
    margin-top: 70px;
  }

  .sushi{
    visibility: hidden;
    width: 0px;
  }

  .description p{
    font-size: 14px;
  }

  #flex-link{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
  }

  .cream-background{
    margin-bottom: 0px;
  }

  #cream-flex{
    display: flex;
  }

  .cream-background-desktop{
    visibility: visible;
    height: auto;

    background-color: $cream;
    width: 30vw;
    min-width: 30vw;

    display: flex;
    justify-content: space-around;

    .width100{
      width: 100%;
    }

    #height170{
      height: 170px;
    }

    .sushi2{
      height: 100px;
      width: 55%;
      padding: 0px 0px 0px 44px;
    }

    .sushi3{
      height: 90px;
      width: 55%;
      padding: 0px 0px 0px 44px;
    }

    .white-background{
      background-color: white;
      height: 5px;
      width: 100%;
      display: flex;
      align-items: center;
    }

    .black-button-desktop{
      justify-content: center;
      height: 30px;
      width: 130px;
      margin-left: auto;
      margin-right: 0px;
      border-radius: 18px 0px 0px 18px;
      display: flex;
      align-items: center;
    }

    .signes{
      height: 150px;
      width: 42%;
      padding: 15px 0px 15px 0px;
    }

    .signes2{
      height: 162px;
      width: 42%;
      padding: 30px 0px 15px 0px;
    }
  }

  .flex-start{
    margin-top: 80px;
  }

  #red-p-h2{
    font-size: 4vw;
    margin-top: 10px;
  }
}
