// Specific CSS for your home-page

.cream-background{
  background-color: $cream;
  margin: 0px 0px 50px 0px;
}

.red-p{
  color: $dark-red;
  margin: 0px 0px 20px 0px;
}

#red-p-h2{
  font-size: 10vw;
  margin: 0px 0px 20px 0px;
}

.description{
  display: flex;
  align-items: center;
  margin: 0px 0px 25px 0px;

  .sushi{
    height: 60px;
    rotate: -9deg;
  }

  p{
    margin: 0px 33px 0px 17px;
  }
}

.flex{
  display: flex;
  align-items: center;
  justify-content: center;

  h2{
    margin: 20px 15px 20px 0px;
    font-weight: 100;
    font-size: 34px;
    color: $grey;
  }

  p{
    margin: 0px 0px 0px 0px;
  }

  .avatar{
    margin: 20px 15px 20px 15px;
  }

  #cream-para{
    width: 66%;
  }
}

hr{
  margin: 0px;
}

.light-weight{
font-weight: 100;
}

.flex-start{
  display: flex;
}

.red-side{
  display: none;
  background-color: $dark-red;
}

.cream-background-desktop{
    visibility: hidden;
    height: 0px;
}

@media only screen and (min-width: 768px) {

  .flex-desktop{
    display: flex;
  }
  .red-background{
    background-color: $dark-red;
    width: 40vw;
  }

  .top-homepage{
    width: 60vw;
  }

  .container{
    padding: 0px 6vw;
    padding-top: 70px;
  }
  .container h1{
    font-size: 6vw;
    margin-top: 70px;
  }

  .sushi{
    visibility: hidden;
    width: 0px;
  }

  .description p{
    font-size: 14px;
  }

  #flex-link{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
  }

  .cream-background{
    margin-bottom: 0px;
  }

  #cream-flex{
    display: flex;
  }

  .cream-background-desktop{
    visibility: visible;
    height: auto;

    background-color: $cream;
    width: 40vw;
    min-width: 40vw;

    display: flex;
    justify-content: space-around;

    .sushi2, .sushi3{
      width: 55%;
      padding: 0px 0px 80px 20px;
    }

    .signes, .signes2{
      width: 30%;
      padding: 2vw 10px 90px 0px;
    }
  }

  .flex-start{
    margin-top: 70px;
  }

  #red-p-h2{
    font-size: 4vw;
  }
}
