.black-button{background-color: black;
    color: white;
    border-radius: 18px;
    width: 100%;
    font-family: $para;
    font-weight: lighter;
    border: none;
    padding: 7px 0px;
    margin: 0px 0px 20px 0px;
}
