.navbar-toggler{
  height: 100%;
  width: 14vw;
  background-color: $dark-red;
  border: none;
  border-radius: 0px;
  color: white;
}

.navbar{
  padding: 0px;
  height: 48px;
  margin-bottom: 6vh;
}

.logo{
  height: 100%;
  padding-top: 14px;
  padding-left: 6vw;
  h3{
    margin-bottom: 0px;
  }
}
