// Mobile version

.navbar{
  padding: 0px;
  height: 48px;
  margin-bottom: 6vh;
}

.logo{
  height: 100%;
  padding-top: 14px;
  padding-left: 6vw;
  h3{
    margin-bottom: 0px;
  }
}

.navbar-toggler{
  height: 100%;
  width: 14vw;
  background-color: $dark-red;
  border: none;
  border-radius: 0px;
  color: white;
}

// Menu déroulé
.offcanvas.offcanvas-top{
  height: fit-content;
}

.offcanvas-header{
  flex-direction: row-reverse;
}

.offcanvas-body{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;

  a{
    text-decoration: none;
    color: black;
    padding: 5px 0px 5px 0px;

    font-weight: 500;
    font-size: 14px;

    // border-bottom: solid 1px $grey;
  }

  hr{
    border: solid 0.5px black;
    width: 39px;
    margin: 2px;
  }
}

//Desktop version

/*media queries*/

@media only screen and (min-width: 768px) {

  // Masquer le Menu button
  .navbar-toggler{
    display: none;
  }

  .navbar{
    display: flex;
    align-items: center;
    margin-bottom: 0px;
  }

  .logo{
    padding-top: 11px;
    background-color: $dark-red;
    width: 40vw;
  }

  .logo h3{
    color: white;
    background-color: $dark-red;
  }

  .offcanvas-body{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    hr {
      display: none;
    }

    a{
      padding-right: 45px;
    }
  }
}
